$TOPHEIGHT: 150px;
.root {
  flex:1;
  background-color: #f2f2f2;
}

.pics {
  border-left: 1px solid #eee;
  position: relative;
  flex: 1;
}

.heightFirst {
  height: 100%;
}

.widthFirst {
  width: 100%;
}
