version: '2.1'
services:
  latest:
    image: "linshenqi/aiis"
    ports:
      - "9092:9092"
    volumes:
      - /data/aiis/conf:/etc/aiis/conf
      - /data/aiis/log:/etc/aiis/log
    restart: "always"
    healthcheck:
      test: curl -f --silent --fail http://127.0.0.1:9092/aiis/v1/healthz || exit 1
      interval: 5s
      timeout: 3s
      retries: 3
