version: '2.1'
services:
  latest:
    image: "linshenqi/rush"
    ports:
      - "8082:8082"
      - "4710:4710"
      - "6060:6060"
    volumes:
      - /data/rush/conf:/etc/rush/conf
      - /data/rush/log:/etc/rush/log
      - /etc/localtime:/etc/localtime:ro
    restart: "always"
    healthcheck:
      test: curl -f --silent --fail http://127.0.0.1:8082/rush/v1/healthz || exit 1
      interval: 5s
      timeout: 3s
      retries: 3
    depends_on:
      - timescaledb

  timescaledb:
    image: "timescale/timescaledb:latest-pg10"
    ports:
    - "5432:5432"
    volumes:
    - /data/postgres:/var/lib/postgresql/data
    restart: "always"
    environment:
    - POSTGRES_USER=admin
    - POSTGRES_PASSWORD=admin
