version: '2.1'
services:
  latest:
    image: "linshenqi/rush"
    ports:
      - "8082:8082"
      - "4710:4710"
    volumes:
      - /data/rush/conf:/etc/rush/conf
      - /data/rush/log:/etc/rush/log
    restart: "always"
    healthcheck:
      test: curl -f --silent --fail http://127.0.0.1:8082/rush/v1/healthz || exit 1
      interval: 5s
      timeout: 3s
      retries: 3
