# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    machine: true
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout
      # - setup_remote_docker:
      #     docker_layer_caching: true
      - add_ssh_keys:
          fingerprints:
            - "c7:20:19:93:cd:c6:31:58:55:e4:8c:bb:44:06:87:85"
            - "c7:20:19:93:cd:c6:31:58:55:e4:8c:bb:44:06:87:85"
      - run:
          name: docker build
          command: |
            cd docker
            docker build -f ./Dockerfile -t gubinempower/sa-backend:20180508 . --no-cache
            docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PWD
            docker push gubinempower/sa-backend:20180508
