version: 2
jobs:
  build:
    branches:
      only:
        - master
        - test-svw-ningbo
    docker:
      - image: circleci/golang:latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: build docker image
          command: |
            mkdir -p /go/src/github.com/masami10/aiis && cd /go/src/github.com/masami10/aiis
            cp -r /home/circleci/project/* ./
            ls -al ./
            # go get -u github.com/sparrc/gdm
            go get -u github.com/golang/dep
            #/go/bin/gdm restore
            dep ensure -v
            CGO_ENABLED=0 go build -o ./build/aiisd ./cmd/aiisd/main.go
            docker login -u $DOCKER_USER -p $DOCKER_PWD
            sh ./build_docker.sh
