version: 2
jobs:
  build:
    branches:
      only:
        - master
    docker:
      - image: circleci/golang:latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: build docker image
          command: |
            mkdir -p /go/src/github.com/masami10/rush && cd /go/src/github.com/masami10/rush
            cp -r /home/circleci/project/* ./
            ls -al ./
            go get -u github.com/sparrc/gdm
            /go/bin/gdm restore
            go build -o ./bin/rush ./cmd/rush/rush.go
            docker login -u $ALIYUN_DOCKER_USER -p $ALIYUN_DOCKER_PWD registry.cn-hangzhou.aliyuncs.com
            sh ./build_docker.sh
