# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:2.7-jessie-node

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: docker build
          command: |
            cd docker
            docker build --build-arg CODING_PWD=$CODING_PWD --build-arg CODING_USER=$CODING_USER --build-arg GITHUB_PWD=$GITHUB_PWD --build-arg GITHUB_USER=$GITHUB_USER -f ./Dockerfile -t gubinempower/sa-backend:20180508 . --no-cache
            docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PWD
            docker push gubinempower/sa-backend:20180508
