.wrap {
  background-color: #f2f2f2;
  height: calc(100% - 64px);
  overflow-x: hidden;
}

.iconWrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
}
