.darkroom-button-group {
    display: inline;
}

.darkroom-button-active {
    color: @odoo-brand-primary;
}

.oe_form_field_image_controls i {
    margin: 0 5%;
}

.img-block {
    position: relative;
    height: 500px;
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.oe_mark_circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 99%;
    background: red;
    color: #ffffff;
    cursor: pointer;
  }

.js_padding_normal {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.js_save {
    right: 20px;
    position: absolute;
}
