/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~react-simple-keyboard/build/css/index.css';
@import './common/static/material-react-pro.css';
@import "~typeface-noto-sans/index.css";
@import "~typeface-noto-sans-sc/index.css";

body {
  position: relative;
  height: 100vh;
  font-family: Noto Sans SC, serif;
  /*font-weight: bold;*/
  overflow: hidden !important;
  user-select: none ;
}

/* h2 { */

/* margin: 0; */

/* font-size: 2.25rem; */

/* font-weight: bold; */

/* letter-spacing: -0.025em; */

/* color: #fff; */

/* } */

/* p { */

/* font-size: 24px; */

/* } */

/* li { */

/* list-style: none; */

/* } */

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  color: gray;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  background-color: #FF7677;
  display: none;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-thumb {
  background: #717276;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: #82AFFF;
  display: none;
}
