[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/masami10/rush
After=network.target

[Service]
EnvironmentFile=-/etc/default/rush
User=rush
ExecStart=/usr/bin/rush -config /etc/rush/rush.conf -config-directory /etc/rush/rush.d $RUSH_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
