.backGround {
  background: #0bf;
  width: 2000px;
}

.backButton {
  position: absolute;
}

.counter {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

.counter1 {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

.counter2 {
  position: absolute;
  top: 10%;
  left: 40%;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

.counter3 {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}
.counter4 {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}
.counter5 {
  position: absolute;
  height: 900px;
  width: 900px;
  top: 25%;
  left: 15%;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}
.input {
  height: 40px;
  width: 300px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  position: relative;
}

.btnGroup {
  position: relative;
  top: 10%;
  left: 30%;
  width: 150px;
  margin: 0 auto;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: greenyellow;
  border-radius: 50%;
  margin: 10px;
  width: 120px;
  height: 120px;
  opacity: 0.7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
}

.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
