name: Go
on:
  push:
    tags:
    - 'customize-*'

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Build
      run: |
        # build for windows
        $env:Path="$pwd\tools\pkg-config\exe;$env:Path"
        $env:PKG_CONFIG_PATH="$pwd\libs\libusb\1.0.22"
        which pkg-config
        ls env:
        go build -o ./build/rush-${GITHUB_REF/refs\/tags\//}.exe ./cmd/rushd/main.go

    - name: Draft release
      uses: softprops/action-gh-release@v1
      with:
        # Note-worthy description of changes in release
        body: docker pull docker.pkg.github.com/masami10/rush/rush:${GITHUB_REF/refs\/tags\//}
        # Path to load note-worthy description of changes in rsoftprops:actionelease from
        body-path: # optional, default is empty
        # Gives the release a custom name
        name: ${GITHUB_REF/refs\/tags\//}
        # Creates a draft release
        draft: ./build/rush-${GITHUB_REF/refs\/tags\//}.exe
        files: # optional, default is empty